# Example configuration entry
esp32_camera:
  name: ${device_name_upper}.camera
  external_clock:
    pin: GPIO0
    frequency: 20MHz
  i2c_pins:
    sda: GPIO26
    scl: GPIO27
  data_pins: [GPIO5, GPIO18, GPIO19, GPIO21, GPIO36, GPIO39, GPIO34, GPIO35]
  vsync_pin: GPIO25
  href_pin: GPIO23
  pixel_clock_pin: GPIO22
  power_down_pin: GPIO32
  resolution: ${esp32cam_resolution} # Possible values: 400x296, 640x480, 800x600, 1024x768, 1280x1024, 1600x1200
  jpeg_quality: 10                   # values from 10 to 63 (10: best, 63: worst)
  contrast: 0                        # values from -2 to 2
  brightness: 0                      # values from -2 to 2
  saturation: 0                      # values from -2 to 2
  idle_framerate: ${esp32cam_custom_idle_framerate}  # set to "0" to turn off idle mode
  vertical_flip: ${esp32cam_vertical_flip}
  horizontal_mirror: ${esp32cam_horizontal_mirror}
  max_framerate: ${esp32cam_max_framerate}
  test_pattern: false

switch:
  - platform: gpio
    name: ${device_name_upper}.flashlight
    id: ${device_name}_flashlight
    pin: ${esp32cam_flashlight_pin}